<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>

    <link rel="stylesheet" href="css/styles.css">

    <style>
        canvas {
            width: 80%;
            margin: auto;
        }
    </style>
</head>

<body>
    {{{body}}}

</body>

</html>