<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>

    <link rel="stylesheet" href="css/styles.css">

    <style>
        canvas {
            width: 100%;
        }
    </style>
</head>

<body>

    <div class="row">
        <div id="panel_div" class="col-sm-4">
            <div class="outer-circle">
                <div class="inner-circle">
                    Find The Path Puzzle
                </div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>

            </div>
            <div id="teamIntro_id">
                <h2> Built By: </h2>
                <p>
                <ul>
                    <li>Sammar Abbas</li>
                    <li>Jam</li>
                </ul>
                </p>
            </div>
        </div>
        <div id="dynamic_body_div" class="col-sm-8">

            {{{body}}}

        </div>
    </div>

    <div id="js_div">
        <script src="js/phaser.js"></script>
        <script type="module" src="js/MainScene.js"></script>
        <script type="module" src="js/game.js"></script>
    </div>
    <script>
        $("#js_div").ready(function () {

            $("#hide").click(function () {
                $("p").hide();
            });
            $("#show").click(function () {
                $("p").show();
            });
        });
    </script>
</body>

</html>