<div id="rules_div">
    <h2>How to play:</h2>
    <p>
    <ol>
        <li>......</li>
        <li>......</li>
        <li>......</li>
        <li>......</li>
        <li>......</li>
        <li>......</li>
    </ol>
    </p>
</div>

<div id="play_button_div">
    <a href="/level1/"><button> Click to Play</button></a>
</div>