<div class="row container">
    <div id="panel_div" class="col-sm-4">
        <div class="outer-circle">
            <div class="inner-circle">
                The Path Finder
            </div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>

        </div>
        <div class="teamIntro_id">
            <h2> Built By: </h2>
            <p>
            <ul>
                <li>Jamie Sajdak - <a class="external-link" href="https://www.jamiesajdak.com/">Portfolio</a> - <a
                        class="external-link" href="https://github.com/Jam52">Github</a></li>
                <li>Sammar Abbas - <a class="external-link" href="https://sammar-abbas.herokuapp.com/">Portfolio</a> -
                    <a class="external-link" href="https://github.com/8sagh8/">Github</a></li>
                <li>Mintbean Challenge Platform <a href="https://mintbean.io/">mintbean.io</a></li>
            </ul>
            </p>
        </div>
        <div class="teamIntro_id">
            <h2> Tools Used: </h2>
            <p>
            <ul>
                <li>Phaser JS</li>
                <li>Node.JS</li>
                <li>Heroku</li>
            </ul>
            </p>
        </div>
    </div>
    <div id="dynamic_body_div" class="col-sm-8">
        <div id="rules_start_hide">

            <div class="move_center">
                <video width="640" height="380" controls>
                    <source src="video/Game_phaser.webm" type="video/webm">
                    <source src="video/Game_phaser.ogg" type="video/ogg">
                </video>

                <br />
                <a href="/newGame" id="play_button_div"><button> Click to Play Game</button></a>
            </div>

            <div id="rules_div">
                <br />
                <h2>Instructions:</h2>
                <p>
                <ol>
                    <li>Starting at <img src="assets/Puzzle_Start.jpg" class="img_class" alt="starting tile" />
                        dig your way to <img src="assets/Puzzle_End.jpg" class="img_class" alt="ending tile" />
                        without discovering any <img src="assets/Puzzle_Bomb.jpg" class="img_class" alt="bomb" /> to
                        reach the next level.</li>
                    <li>Select a block <img src="assets/Puzzle_Clickable.png" class="img_class" /> to explore.</li>
                    <li>A space with Numbers <img src="assets/Puzzle_Num_1.png" class="img_class" />
                        gives you a hint to how many bombs are surrounding it.
                    </li>
                    <li>A blank box <img src="assets/Puzzle_Uncovered.jpg" class="img_class" /> means there is no
                        bomb surrounding it.</li>
                    <li>You begin with 3 lives <img src="assets/Puzzle_Heart_Begin.png" class="img_class" />
                        and lose a life if you find a bomb.</li>
                </ol>
                </p>
            </div>


        </div>

    </div>
</div>