<div id="js_div" style="color: aliceblue; display:none">
    <script src="js/phaser.js"></script>
    <script type="module" src="js/Tile.js"></script>
    <script type="module" src="js/MainScene.js"></script>
    <script type="module" src="js/game.js"></script>
</div>