/* Main page, body styling */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.move_center {
  vertical-align: middle;
  text-align: center;
}

#heading_div {
  margin: 0rem 20rem;
  border-radius: 25px;
  border: beige 6px solid;
}

/* ////////// Title Heading ////////////// */

.outer-circle {
  position: relative;
  height: 260px;
  width: 300px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
}

span:nth-child(1) {
  filter: blur(5px);
}

span:nth-child(2) {
  filter: blur(10px);
}

span:nth-child(3) {
  filter: blur(25px);
}

span:nth-child(4) {
  filter: blur(150px);
}

.inner-circle {
  text-align: center;
  vertical-align: middle;

  padding: 0px 30px;
  padding-top: 7vh;
  color: aqua;
  font-size: 2rem;
  font-family: "Train One", cursive;
  height: 190px;
  width: 220px;
  position: absolute;
  background: black;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 9;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.teamIntro_id h2 {
  margin: 15px 0px 2px 10px;
  color: aqua;
  font-size: 38px;
  text-decoration: underline;
}

.teamIntro_id li {
  font-size: 22px;
  color: cornsilk;
}

.teamIntro_id a {
  text-decoration: none;
  color: cornsilk;
}

/* title heading ends */

/* ------- INDEX.HBS ------------- */
#rules_div {
  margin-top: 50px;
  color: beige;
}
#rules_div h2 {
  font-size: 4rem;
  color: aqua;
}
#rules_div li {
  font-size: 1.5rem;
  padding-bottom: 15px;
  margin-left: 60px;
}
.img_class {
  width: 50px;
  height: auto;
}
#play_button_div {
  vertical-align: middle;
  text-align: center;
  width: 80;
  margin-top: 5vh;
}

#play_button_div button {
  font-size: x-large;
  font-weight: bolder;
  color: indigo;
  width: 300px;
  height: 80px;
  border-radius: 50px;
}
